.w-textarea {
    position: relative;
    min-height: 100px;
    height: 100%;
}

.w-textarea_display,
.w-textarea_editor {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 15px;
    line-height: 28px;
    font-size: 14px;
}

.w-textarea_display {
    display: block;
    visibility: hidden;
}

.w-textarea_editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    resize: none;
    overflow: hidden;
    background-image:
        -webkit-linear-gradient(left, white 5px, transparent 40px),
        -webkit-linear-gradient(right, white 5px, transparent 40px),
        -webkit-linear-gradient(white 27px, #ccc 27px, #ccc 28px, white 28px);
    background-image:
        linear-gradient(left, white 10px, transparent 40px),
        linear-gradient(right, white 10px, transparent 40px),
        linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 28px;
}
