.w-textarea {
    position: relative;
    min-height: 150px;
    height: 100%;
}

.w-textarea_display,
.w-textarea_editor {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 15px;
    line-height: 35px;
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.w-textarea_display {
    display: block;
    visibility: hidden;
}

.w-textarea_editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    resize: none;
    overflow: hidden;
    background-image:
        -webkit-linear-gradient(left, white 15px, transparent 0px),
        -webkit-linear-gradient(right, white 15px, transparent 0px),
        -webkit-linear-gradient(white 34px, #ccc 34px, #ccc 35px, white 35px);
    background-image:
        linear-gradient(left, white 15px, transparent 0px),
        linear-gradient(right, white 15px, transparent 0px),
        linear-gradient(white 34px, #ccc 34px, #ccc 35px, white 35px);
    background-size: 100% 100%, 100% 100%, 100% 35px;
}
