.w-display {
    height: 200px;
    background: #fff;
    position: relative;
}

.w-display_zoom {
    position: absolute;
    top: 5px;
    right: 5px;
}

.w-display_refresh {
    position: absolute;
    bottom: 5px;
    right: 5px;
}