.w-zoom {
    width: 20px;
    height: 100px;
}

.w-zoom_btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 50%;
    border-radius: 10px;
    background-color: #000;
    color: #FFF;
}

.w-zoom_size {
    height: 58px;
    margin: 1px 9px;
    background-color: #000;

    position: relative;
}

/*.w-zoom_size:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 12px;
    height: 3px;
    background-color: #000;
}*/

.w-zoom_size span {
    content: "";
    position: absolute;
    /*top: 20px;*/
    right: 0;
    width: 12px;
    height: 2px;
    background-color: #000;
}
