.w-zoom {
    width: 20px;
    height: 100px;
}

.w-zoom_btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
}

.w-zoom_size {
    height: 58px;
    margin: 5px 9px;
    background-color: #FFF;
    position: relative;
    text-align: center;
}

.w-zoom_size span {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: -1px -1px 2px #999 inset;
    transform: translate(-50%, -50%);
    transition: all 0.2s width : 0;
}
